* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #e4e7df;
    font-family: "gilroy";
}

nav {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}

nav ul li {
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    /* transition: 1s 0.5s linear; */
    transition: 1s all;
}

nav ul li:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.page1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    padding: 10px 30px;
    width: 100%;
    display: flex;
}

.content .left {
    width: 60%;
}

.content .left p {
    width: 50%;
    font-size: 26px;
    margin-bottom: 20px;
}

.content .left button {
    font-size: 22px;
    background-color: transparent;
    border: none;
    width: 30%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.content .right {
    width: 60%;
    font-size: 45px;
    font-weight: 500;
}

.page1 marquee {
    display: flex;
    align-items: center;
    font-size: 300px;
    font-weight: 900;
    font-family: montserrat;
}

.page1 marquee img {
    height: 210px;
}
